<div>
  <%= button_to 'UpKitty!', {controller: "votes", action: "create", vote: {votable_id: answer.id, votable_type: "Answer", up_vote: true, user_id: current_user}}, method: :post %>
</div>

<div>
  <%= button_to 'DownKitty!', {controller: "votes", action: "create", vote: {votable_id: answer.id, votable_type: "Answer", up_vote: false, user_id: current_user}}, method: :post %>
</div>
