<div class="question_summary_display">
  <h4> <a href="<%= question_path(question) %>"> <%= question.title %> </a> </h4>
  <p> <%= question.author.username %> </p>
  <p> <%= question.created_at %> </p>
</div>
