<div>
  <br>
  <h3>Questions</h3>
  <ul>
  <% @questions.each do |question| %>
    <li> <%= render partial: "questions/condensed_question_show", locals: {question: question} %> </li>
  <% end %>
  </ul>
</div>
