<main>
<h1> Cat Level Too Deep </h1>
<ul>
<% @questions.each do |question| %>
  <li><class="question"><%= link_to question.query, question_path(question) %></li>
  <% question.tags.each do |tag| %>
    <p><%= link_to tag.category, tag_path(tag) %></p>
</ul>
  <% end %>
<% end %>
</main>