<div>
  <h3>Create a new question!?</h3>

  <%= form_for @question do |f| %>
  <div>
    <%= f.text_field :title, placeholder: "The subject of your question goes here", size: 102 %><br />
  </div>
  <br>
  <div>
    <%= text_area(:question, :query, cols: 100, rows: 20, placeholder: "The body of your question goes here") %><br />
  </div>
  <div>
    <%= f.submit %>
  </div>
  <% end %>

</div>
