.login {
  float: right;
  margin-right: 1em;
}

.line {
  border: solid black 1px;
  width: 100%;
}

.vote_kitty_head img{
  height: 4em;
}

.comments_form {
  display: none;
}

.question-show-contianer {
  padding: 5px;
  outline: 1px solid black;
}

.comments-block {
  background-color: lightgrey;
  outline: 1px solid black;
  margin-left: 30px;
}

.comments-block h6 {
  margin-top: -20px;
}
